body {
    font-family: 'Handjet', cursive;

    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:rgb(0, 0, 0);
    color: #333;
    height: 100%;
    background-position: cover;
    color: hsl(230, 100%, 95%);
    background: linear-gradient(135deg, hsl(230, 40%, 12%), hsl(230, 20%, 7%));
    height: 100vh;
    background-image:url(bgpt1.avif) ;

  }

   



.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: larger;
    
   
}


header {
    color:white;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 1rem;
}
name{
    display: flex;
}

nav a {
    color: greenyellow;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

nav a:hover {
    background-color:grey;
}
#main{
text-align:right;
display: flex;
 animation:main 5s; 



    
    padding-top: 70px;
    padding-left:300px;

}
@keyframes  main {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  

img {
    border-radius: 50%;
    width: 500px;
    height:500px;
    
        
}
#about{
    margin: 20px;
    color:white;
}
#main-content{
    display:flex;

}
#main1{
    font-family:Pacifico;
    
}

#first h1{
    padding-left: 30px;
    padding-top: 60px;
    font-size:60px;
    color:rgb(127, 25, 222);
    letter-spacing: 2px;


}
h1 {
    margin: auto;
    font-size: 3.5rem;
    font-weight: 300;
    animation: lights 5s 750ms linear infinite;
  }
@keyframes lights {
    0% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
    30% { 
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    40% { 
      color: hsl(230, 100%, 95%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 90%, 0.5),
        -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
        0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
    }
    
    70% {
      color: hsl(230, 80%, 90%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.5),
        0 0 0.125em hsla(320, 100%, 60%, 0.5),
        0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
        -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
    }
    
    100% {
      color: hsl(230, 40%, 80%);
      text-shadow:
        0 0 1em hsla(320, 100%, 50%, 0.2),
        0 0 0.125em hsla(320, 100%, 60%, 0.3),
        1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
        -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
    }
    
  }
  
#first p{
    padding-left:30px;
    color:aqua;
    font-size:50px;

}
p{


    letter-spacing: 3px;
    cursor: pointer;
  }
  
  p span {
    transition: 0.5s ease-out;
  }

  p:hover span:nth-child(1) {
    margin-right: 5px;
  }

  p:hover span:nth-child(2) {
    margin-left: 30px;
  }
  p:hover span {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
  }
#first button{
    color: greenyellow;
    background-color:black;
    margin:10px 200px;
    border:none;

}
